<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meetyouatnowhere.kitchensecret_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:windowSoftInputMode="adjustPan|stateHidden">
        >
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.pulldown.PullToRefreshSampleActivity" />
        <activity android:name=".activities.CropActivity"/>
        <activity
            android:name=".activities.LoginActivity"
            android:parentActivityName=".activities.MainActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activities.RegisterActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity android:name=".activities.favorActivity" />
        <activity android:name=".activities.RecipeActivity" />
        <activity android:name=".activities.EditPersonalInfoActivity" />
        <activity
            android:name=".activities.SettingActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.Setting_detailActivity"
            android:parentActivityName=".activities.SettingActivity" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.SortResultActivity"
            android:parentActivityName=".activities.MainActivity">
        </activity>
    </application>

</manifest>